.camp-wrapper
    width: 100%
    height: auto
    padding-top: 60px

.camp-display
    width: 100%
    height: 100%
    padding: 60px 0

.campsite-nav
    width: 22%
    height: 100%
    margin: 0 1% 0 2%
    display: none
    padding: 1%
    border: $border-OP
    border-radius: 5px
    float: left

    a
        color: $black
        text-decoration: none

@media(min-width: 769px)

    .campsite-nav
        display: initial

.campsite-container
    width: 90%
    margin: 0 auto

@media(min-width: 769px)

    .campsite-container
        width: 60%
        float: right
        margin: 0 5% 0 2%
        border: $border-OP
        border-radius: 5px

.campsite-img
    width: 100%
    height: auto

    img
        width: 100%

.campsite-caption
    width: 98%
    margin: 0 auto

    h3
        color: $blue
        font-size: 25px
        font-weight: normal
        padding: 10px 0
    p
        color: $text
        font-size: 14px
        letter-spacing: 0.5px
        line-height: 25px
        padding: 10px 0

.campsite-buttons
    width: 100%
    margin: 20px 0 5px 0
    padding: 10px 0

    a
        width: 100px
        height: 25px
        color: $light-text
        font-size: 16px
        letter-spacing: 0.5px
        text-align: center
        text-decoration: none
        padding-top: 5px
        display: inline-block
        border: none
        border-radius: 5px
        vertical-align: top
        transition: all 350ms ease
        &:nth-of-type(1)
            background: $orange
        &:hover
            background: $dark-orange

.campsite-form
    display: inline-block

.danger
    color: $light-text
    width: 100px
    height: 30px
    font-size: 16px
    background: $red
    -webkit-appearance: none
    -webkit-border-radius: 0
    margin-left: 10px
    border-radius: 5px
    border: none
    cursor: pointer
    transition: all 350ms ease

    &:hover
        background: $dark-red


.campsite-comments-wrapper
    width: 100%
    height: auto
    margin: 0 auto

@media(min-width: 769px)

    .campsite-comments-wrapper
        width: 60%
        height: auto
        margin: 2% 5% 5% 2%
        float: right
        border: $border-OP
        border-radius: 5px


.campsite-comments-display
    width: 90%
    height auto
    margin: 0 auto

@media(min-width: 769px)

    .campsite-comments-display
        width: 100%

.campsite-add-comments
    width: 95%
    height: 110px
    margin: 0 auto
    border-bottom: $border-OP

    h2
        color: $black
        margin-top: 15px
        margin-left: 15px

    a
        width: 120px
        height: 25px
        color: $light-text
        font-size: 14px
        letter-spacing: 0.5px
        text-align: center
        text-decoration: none
        padding-top: 5px
        margin-top: 15px
        border: none
        border-radius: 5px
        vertical-align: top
        float: left
        transition: all 350ms ease
        &:nth-of-type(1)
            background: $orange
        &:hover
            background: $dark-orange


@media(min-width: 769px)

    .campsite-add-comments
        width: 100%
        height: 60px

        h2
            float: left

        a
            float: right
            margin-right: 15px



.campsite-comments
    width: 95%
    height: auto
    margin: 0 auto
    padding: 20px 0

    ul
        list-style: none
        border-bottom: 1px solid rgba(50, 50, 50, 0.3)
        transition: all 1000ms ease

        li
            font-size: 16px
            padding: 10px 0
            &:nth-of-type(2)
                color: $text
                font-size: 14px
                line-height: 25px

        p
            color: $text
            font-size: 14px
            margin-right: 15px
            float: right

        button
            color: $light-text
            width: 50px
            height: 30px
            font-size: 14px
            background: $red
            margin-bottom: 10px
            border-radius: 5px
            float: right
            border: none
            cursor: pointer
            transition: all 350ms ease

            &:hover
                background: $dark-red


.campsite-comment-form
    width: 95%
    height: auto
    margin: 0 auto
    padding: 20px 0

    input
        width: calc(100% - 120px)
        height: 30px
        float: left
        border: $border-OP
        border-radius: 5px
        padding: 2px 5px


    button
        color: $light-text
        width: 100px
        height: 30px
        border-radius: 5px
        border: none
        margin-top: 3px
        float: right
        cursor: pointer
        transition: all 350ms ease
        &:nth-of-type(1)
            background: $blue
        &:hover
            background: $dark-blue
