.camp-wrapper
    width: 100%
    height: auto

.camp-display
    width: 100%
    height: 100%
    padding: 60px 0 

.campsite-nav
    width: 22%
    height: 100%
    margin: 0 1% 0 2%
    padding: 1%
    border: 1px solid $black
    border-radius: 5px
    float: left

    a
        color: $black
        text-decoration: none

.campsite-container
    width: 60%
    float: right
    margin: 0 5% 0 2%
    // padding: 1%
    border: 1px solid $black
    border-radius: 5px
    
.campsite-img
    width: 100%
    height: auto

    img
        width: 100%

.campsite-caption
    width: 98%
    margin: 0 auto

    h3
        color: $blue
        font-size: 25px
        font-weight: normal
        padding: 10px 0
    p
        color: $text
        font-size: 14px
        letter-spacing: 0.5px
        padding: 10px 0

.campsite-buttons
    width: 100%
    margin: 20px 0 5px 0
    padding: 10px 0 

    button
        width: 100px
        height: 30px
        border-radius: 5px
        border: none
        transition: all 350ms ease
        &:nth-of-type(1)
            background: $orange
        &:hover
            background: $dark-orange
    a
        color: $light-text
        font-size: 16px
        padding: 10% 20%
        text-decoration: none
        letter-spacing: 0.5px

.campsite-form
    display: inline-block

.danger
    color: $light-text
    width: 100px
    height: 30px
    background: $red
    margin-left: 10px 
    border-radius: 5px
    border: none
    cursor: pointer
    transition: all 350ms ease

    &:hover
        background: $dark-red
