section.footer-wrapper
    div.footer-display
        ul
            li: a(href="#") FAQ
            li: a(href="/") YELP
            li: a(href="#") TERMS & CONDITIONS
            li: a(href="#") README
        div.footer-copyright
            p Copyright © 2016 YelpCamp. All Rights Reserved.

script(src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous")
script(type="text/javascript" src="/js/functions.js")
