doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href='https://fonts.googleapis.com/css?family=Oxygen:400,700|Work+Sans:400,700' rel='stylesheet' type='text/css')
        link(href="/css/main.css" rel="stylesheet")
        title YelpCamp
    body

        section.header-menu-wrapper
            div.header-menu-display
                div.header-menu-links
                    li
                        a(href="/campgrounds") YelpCamp
                    li
                        a(href="/register") Register
                    li
                        a(href="/login") Login



        section.header-wrapper
            div.header-menu-btn
                span
                span
                span
            div.header-display
                div.header-brand
                    a(href="/campgrounds") YelpCamp
                div.header-links
                    ul
                        - if (!login) {
                            li
                                a(href="/register") Register
                            li
                                a(href="/login") Login
                        - } else {
                            li
                                a(href="/profile") Profile
                            li
                                a(href="/logout") Logout
                        - }
