.clearfix {
  clear: both; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Work Sans'; }

.header-menu-wrapper {
  width: 100%;
  height: auto;
  background: #202020;
  margin-top: 60px;
  position: fixed;
  z-index: 10; }

.header-menu-display {
  width: 80%;
  height: 0;
  margin: 0 auto;
  overflow-y: hidden;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out; }
  .header-menu-display.active-menu {
    height: calc(100vh - 60px); }

.header-menu-links {
  width: 100%;
  height: auto;
  margin: 0 auto;
  list-style: none;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out; }
  .header-menu-links.active-menu {
    padding: 30px 0; }
  .header-menu-links li {
    opacity: 0;
    -webkit-transition: all 450ms ease 250ms;
    transition: all 450ms ease 250ms; }
    .header-menu-links li.active-menu {
      opacity: 1;
      padding: 10px 0; }
  .header-menu-links a {
    color: #f9f9f9;
    font-size: 30px;
    text-decoration: none; }

.header-wrapper {
  width: 100%;
  height: 60px;
  background: #202020;
  position: fixed;
  z-index: 10; }

.header-menu-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 16px;
  right: 15px;
  cursor: pointer; }
  .header-menu-btn span {
    width: 22px;
    height: 2px;
    background: #f9f9f9;
    position: absolute;
    left: 3px;
    -webkit-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out; }
    .header-menu-btn span:nth-of-type(1) {
      top: 3px; }
    .header-menu-btn span:nth-of-type(2) {
      top: 10px;
      right: initial; }
    .header-menu-btn span:nth-of-type(3) {
      top: 18px; }
    .header-menu-btn span:nth-of-type(1).active-menu {
      top: 10px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .header-menu-btn span:nth-of-type(2).active-menu {
      top: 10px;
      opacity: 0;
      -webkit-transform: translateX(10px);
      transform: translateX(10px); }
    .header-menu-btn span:nth-of-type(3).active-menu {
      top: 10px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }

@media (min-width: 769px) {
  .header-menu-btn {
    display: none; } }

.header-display {
  height: 100%;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto; }

.header-brand {
  width: auto;
  height: 100%;
  padding-left: 15px;
  float: left;
  display: table; }
  .header-brand a {
    color: #f9f9f9;
    font-family: 'Oxygen';
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1.2px;
    display: table-cell;
    vertical-align: middle; }
    .header-brand a:hover {
      color: #909090; }

.header-links {
  width: auto;
  height: 100%;
  float: right;
  display: none; }
  .header-links ul {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px; }
    .header-links ul li {
      display: inline-block;
      padding: 5px; }
      .header-links ul li:hover a {
        color: #909090; }
    .header-links ul a {
      color: #f5f5f5;
      font-family: 'Oxygen';
      letter-spacing: 0.5px;
      text-decoration: none; }

@media (min-width: 769px) {
  .header-links {
    display: table; } }

.footer-wrapper {
  width: 100%;
  height: 200px;
  background: #fff; }

.footer-display {
  width: 100%;
  height: 100%;
  text-align: center; }
  .footer-display ul {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding-top: 80px; }
  .footer-display li {
    width: auto;
    display: inline-block;
    margin: 0 5px; }
  .footer-display a {
    color: #202020;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0.4px; }
    .footer-display a:hover {
      font-weight: bold; }

.footer-copyright {
  width: 95%;
  height: auto;
  margin: 0 auto; }
  .footer-copyright p {
    font-size: 12px;
    padding: 10px 0; }

.index-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1444228250525-3d441b642d12?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5630e612ca543f124916d4874be62a78");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.index-overlay {
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.4); }

.index-display {
  width: 100%;
  height: 100%;
  display: table; }

.jumbotron {
  width: 90%;
  height: 300px;
  max-width: 500px;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
  .jumbotron h1 {
    color: #fff;
    font-size: 55px;
    font-weight: normal;
    text-shadow: 0 3px 5px #202020;
    letter-spacing: 1px; }
  .jumbotron p {
    color: #fff;
    font-size: 20px;
    text-shadow: 0 3px 5px #202020;
    padding: 10px 0; }
  .jumbotron hr {
    width: 300px;
    margin: 10px auto 30px auto; }
  .jumbotron a {
    width: 120px;
    height: 30px;
    display: block;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding-top: 12px;
    margin: 0 auto;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .jumbotron a:hover {
      border: 1px solid transparent;
      background: #202020; }

@media (min-width: 500px) {
  .jumbotron {
    width: 50%; }
    .jumbotron h1 {
      font-size: 80px; }
    .jumbotron p {
      font-size: 22px; } }

@media (min-width: 769px) {
  .jumbotron {
    width: 50%; }
    .jumbotron h1 {
      font-size: 115px; }
    .jumbotron p {
      font-size: 22px; } }

.campgrounds-wrapper {
  width: 100%;
  height: auto;
  padding-top: 60px; }

.campgrounds-display {
  width: 100%;
  height: 100%;
  padding: 60px 0 60px 0; }

.campgrounds-banner {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center; }
  .campgrounds-banner h2 {
    color: #202020;
    font-size: 2.5em;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 10px 0; }
  .campgrounds-banner p {
    font-size: 18px;
    padding-left: 5px; }
  .campgrounds-banner hr {
    width: 100%;
    margin: 20px 0; }
  .campgrounds-banner a {
    width: 125px;
    height: 25px;
    color: #f9f9f9;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0.5px;
    background: rgba(1, 87, 155, 0.81);
    display: block;
    margin: 20px auto;
    padding-top: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .campgrounds-banner a:hover {
      background: #01579b; }

@media (min-width: 769px) {
  .campgrounds-banner {
    width: 80%; }
    .campgrounds-banner h2 {
      font-size: 4.5em;
      padding: 10px 0; } }

.campview-wrapper {
  width: 100%;
  height: auto; }

.campview-display {
  width: 80%;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center; }

.thumbnail {
  width: 100%;
  height: auto;
  margin: 20px 0.5%;
  border-radius: 5px;
  float: left; }

@media (min-width: 600px) {
  .thumbnail {
    width: 45%;
    padding: 1.5% 1%;
    margin: 20px 1%;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    float: left; } }

@media (min-width: 850px) {
  .thumbnail {
    width: 29%; } }

.camp-img {
  width: 100%; }
  .camp-img img {
    width: 100%;
    height: auto;
    border-radius: 5px; }

@media (min-width: 600px) {
  .camp-img {
    width: 100%; }
    .camp-img img {
      width: 100%;
      height: 250px; } }

.camp-caption {
  width: 100%;
  height: auto; }
  .camp-caption h3 {
    font-size: 22px;
    font-weight: normal;
    padding: 5px 0; }
  .camp-caption p {
    font-size: 14px;
    padding-bottom: 30px; }
  .camp-caption a {
    width: 100px;
    height: 25px;
    color: #f9f9f9;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.5px;
    display: block;
    background: rgba(1, 87, 155, 0.81);
    padding-top: 5px;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .camp-caption a:hover {
      background: #202020; }

@media (min-width: 600px) {
  .camp-caption {
    width: 100%;
    height: 150px; } }

@media (min-width: 850px) {
  .camp-caption {
    width: 100%;
    height: 150px; } }

.camp-wrapper {
  width: 100%;
  height: auto;
  padding-top: 60px; }

.camp-display {
  width: 100%;
  height: 100%;
  padding: 60px 0; }

.campsite-nav {
  width: 22%;
  height: 100%;
  margin: 0 1% 0 2%;
  display: none;
  padding: 1%;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  float: left; }
  .campsite-nav a {
    color: #202020;
    text-decoration: none; }

@media (min-width: 769px) {
  .campsite-nav {
    display: initial; } }

.campsite-container {
  width: 90%;
  margin: 0 auto; }

@media (min-width: 769px) {
  .campsite-container {
    width: 60%;
    float: right;
    margin: 0 5% 0 2%;
    border: 1px solid #cfcfcf;
    border-radius: 5px; } }

.campsite-img {
  width: 100%;
  height: auto; }
  .campsite-img img {
    width: 100%; }

.campsite-caption {
  width: 98%;
  margin: 0 auto; }
  .campsite-caption h3 {
    color: rgba(1, 87, 155, 0.81);
    font-size: 25px;
    font-weight: normal;
    padding: 10px 0; }
  .campsite-caption p {
    color: rgba(40, 40, 40, 0.7);
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 25px;
    padding: 10px 0; }

.campsite-buttons {
  width: 100%;
  margin: 20px 0 5px 0;
  padding: 10px 0; }
  .campsite-buttons a {
    width: 100px;
    height: 25px;
    color: #f9f9f9;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    vertical-align: top;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .campsite-buttons a:nth-of-type(1) {
      background: #FFA726; }
    .campsite-buttons a:hover {
      background: #F57C00; }

.campsite-form {
  display: inline-block; }

.danger {
  color: #f9f9f9;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: #ef5350;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .danger:hover {
    background: #d32f2f; }

.campsite-comments-wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto; }

@media (min-width: 769px) {
  .campsite-comments-wrapper {
    width: 60%;
    height: auto;
    margin: 2% 5% 5% 2%;
    float: right;
    border: 1px solid #cfcfcf;
    border-radius: 5px; } }

.campsite-comments-display {
  width: 90%;
  margin: 0 auto; }

@media (min-width: 769px) {
  .campsite-comments-display {
    width: 100%; } }

.campsite-add-comments {
  width: 95%;
  height: 110px;
  margin: 0 auto;
  border-bottom: 1px solid #cfcfcf; }
  .campsite-add-comments h2 {
    color: #202020;
    margin-top: 15px;
    margin-left: 15px; }
  .campsite-add-comments a {
    width: 120px;
    height: 25px;
    color: #f9f9f9;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    vertical-align: top;
    float: left;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .campsite-add-comments a:nth-of-type(1) {
      background: #FFA726; }
    .campsite-add-comments a:hover {
      background: #F57C00; }

@media (min-width: 769px) {
  .campsite-add-comments {
    width: 100%;
    height: 60px; }
    .campsite-add-comments h2 {
      float: left; }
    .campsite-add-comments a {
      float: right;
      margin-right: 15px; } }

.campsite-comments {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 20px 0; }
  .campsite-comments ul {
    list-style: none;
    border-bottom: 1px solid rgba(50, 50, 50, 0.3);
    -webkit-transition: all 1000ms ease;
    transition: all 1000ms ease; }
    .campsite-comments ul li {
      font-size: 16px;
      padding: 10px 0; }
      .campsite-comments ul li:nth-of-type(2) {
        color: rgba(40, 40, 40, 0.7);
        font-size: 14px;
        line-height: 25px; }
    .campsite-comments ul p {
      color: rgba(40, 40, 40, 0.7);
      font-size: 14px;
      margin-right: 15px;
      float: right; }
    .campsite-comments ul button {
      color: #f9f9f9;
      width: 50px;
      height: 30px;
      font-size: 14px;
      background: #ef5350;
      margin-bottom: 10px;
      border-radius: 5px;
      float: right;
      border: none;
      cursor: pointer;
      -webkit-transition: all 350ms ease;
      transition: all 350ms ease; }
      .campsite-comments ul button:hover {
        background: #d32f2f; }

.campsite-comment-form {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 20px 0; }
  .campsite-comment-form input {
    width: calc(100% - 120px);
    height: 30px;
    float: left;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: 2px 5px; }
  .campsite-comment-form button {
    color: #f9f9f9;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 3px;
    float: right;
    cursor: pointer;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .campsite-comment-form button:nth-of-type(1) {
      background: rgba(1, 87, 155, 0.81); }
    .campsite-comment-form button:hover {
      background: #01579b; }

.form-wrapper {
  width: 100%;
  height: auto;
  padding-top: 60px; }

.form-display {
  width: 100%;
  height: 100%;
  padding: 60px 0; }

.form-container {
  width: 80%;
  height: auto;
  max-width: 500px;
  margin: 0 auto; }

.form-control {
  width: 100%;
  padding: 5px 0; }
  .form-control h3 {
    font-size: 25px;
    font-weight: normal;
    padding: 5px 0; }
  .form-control input {
    width: 100%;
    height: 30px;
    background: transparent;
    padding: 0 3px;
    border: 1px solid rgba(40, 40, 40, 0.7);
    border-radius: 4px; }
  .form-control button {
    color: #f9f9f9;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: rgba(1, 87, 155, 0.81);
    border: none;
    border-radius: 4px;
    cursor: pointer; }
    .form-control button:hover {
      background: #01579b; }
    .form-control button a {
      font-size: 16px;
      color: #f9f9f9;
      text-decoration: none;
      padding: 5% 20%; }

.error-alert {
  width: auto;
  height: 30px;
  border: 1px solid #d32f2f;
  border-radius: 4px;
  text-align: center;
  background: rgba(240, 80, 80, 0.8); }
  .error-alert p {
    color: #f9f9f9;
    padding: 3px; }

.profile-header-wrapper {
  width: 100%;
  height: auto;
  padding-top: 100px;
  margin-bottom: 50px;
  min-height: 320px;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1461770354136-8f58567b617a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f0c8c34fe56f9669d1c6d129f597f895");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.profile-header-display {
  width: 100%;
  height: 100%; }

.profile-thumbnail-container {
  width: 230px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: calc(100% - 115px);
  left: calc(50% - 115px); }

.profile-thumbnail {
  width: 100%;
  height: 100%;
  padding: 10px 0; }

.profile-img {
  width: 100%; }
  .profile-img img {
    width: 200px;
    border-radius: 10px; }

.profile-info h2 {
  color: #202020;
  font-weight: normal;
  padding: 10px 0; }

.campview-profile-wrapper {
  width: 100%;
  height: auto;
  padding-top: 80px; }

.campview-display h2 {
  font-family: 'Oxygen';
  padding: 10px 0; }
