include ../partials/header

section.campgrounds-wrapper
    div.campgrounds-display
        div.campgrounds-banner
            h2 Welcome to YelpCamp
            hr
            p Browse through our wide selection of Campgrounds.

section.campsite-wrapper
    div.campsite-display

        div.thumbnail
            div.camp-img
                img(src="https://images.unsplash.com/photo-1437382944886-45a9f73d4158?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=733f1b1d8238de29d9fa41d841e96d0d")
            div.camp-caption
                h3 Bear Cove
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                button: a(href="#") Go Here
        div.thumbnail
            div.camp-img
                img(src="https://images.unsplash.com/photo-1437382944886-45a9f73d4158?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=733f1b1d8238de29d9fa41d841e96d0d")
            div.camp-caption
                h3 Bear Cove
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                button: a(href="#") Go Here
        div.thumbnail
            div.camp-img
                img(src="https://images.unsplash.com/photo-1437382944886-45a9f73d4158?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=733f1b1d8238de29d9fa41d841e96d0d")
            div.camp-caption
                h3 Bear Cove
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                button: a(href="#") Go Here
        div.thumbnail
            div.camp-img
                img(src="https://images.unsplash.com/photo-1437382944886-45a9f73d4158?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=733f1b1d8238de29d9fa41d841e96d0d")
            div.camp-caption
                h3 Bear Cove
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                button: a(href="#") Go Here
        div.thumbnail
            div.camp-img
                img(src="https://images.unsplash.com/photo-1437382944886-45a9f73d4158?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=733f1b1d8238de29d9fa41d841e96d0d")
            div.camp-caption
                h3 Bear Cove
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                button: a(href="#") Go Here
        div.thumbnail
            div.camp-img
                img(src="https://images.unsplash.com/photo-1437382944886-45a9f73d4158?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=733f1b1d8238de29d9fa41d841e96d0d")
            div.camp-caption
                h3 Bear Cove
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                button: a(href="#") Go Here



include ../partials/footer
