include ../partials/header

section.campgrounds-wrapper
    div.campgrounds-display
        div.campgrounds-banner
            h2 Welcome to YelpCamp
            hr
            p Browse through our wide selection of Campgrounds.
            button: a(href="/new") Create New

section.campview-wrapper
    div.campview-display

     - camp.forEach(function(c) {
          div.thumbnail
            div.camp-img
                img(src="" + c.imagePath + "")
            div.camp-caption
                h3 #{c.name}
                p #{c.description}
                button: a(href="/campgrounds/" + c._id) More Info
     - });
        div.clearfix



include ../partials/footer
