include ../partials/header

section.camp-wrapper
    div.camp-display
        div.campsite-nav
            a(href="/campgrounds") Back
        div.campsite-container
            div.campsite-img
                img(src="" + camp.imagePath + "")
            div.campsite-caption
                h3 #{camp.name}
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt maiores quaerat quasi officia iste, veniam esse nihil eos quia? Ipsa consequuntur itaque impedit, harum assumenda dolor officia quas inventore ad?
                - if (currentUser && camp.author.id.equals(currentUser._id)) {
                    div.campsite-buttons
                        button: a(href="/campgrounds/" + camp._id + "/edit") Edit
                        form(action="/campgrounds/"+ camp._id +"?_method=DELETE" method="POST").campsite-form
                            input(type="hidden" name="_csrf" value=""+ csrfToken +"")
                            input(type="submit" value="Delete").danger
                - }

    div.clearfix


section.campsite-comments-wrapper
    div.campsite-comments-display
        div.campsite-add-comments
            h2 Reviews and Comments
            - if (!currentUser) {
                button: a(href='/login') Add Comment
            - }
        div.campsite-comments
            - if (camp.comments.length > 0) {
                - camp.comments.forEach(function(comment) {
                    ul
                        li #{comment.author.username}
                            p March 3, 2016
                        li #{comment.text}
                - })
            - }

        div.campsite-comment-form
            - if (currentUser) {
                input(type="text" placeholder="Add your comments..")#comment-input
                input(type="hidden" value=""+currentUser.name+"")#comment-user
                button#submit-comment Add Comment
            - }
            div.clearfix
div.clearfix



include ../partials/footer
