include ../partials/header

section.form-wrapper
    div.form-display
        form(action="/campgrounds/" + campground._id + "?_method=PUT" method="POST").form-container
            div.form-control
                h3 #{campground.name}
            div.form-control
                input(type="text" name="name" value=""+campground.name+"")
            div.form-control
                input(type="text" name="imagePath" value=""+campground.imagePath+"")
            div.form-control
                input(type="text" name="description" value=""+campground.description+"")
            div.form-control
                button Submit


include ../partials/footer