include ../partials/header

section.form-wrapper
    div.form-display
        form(action="/login" method="POST").form-container
            div.form-control
                h3.center-align-text  Login Form
            div.form-control
            - if (hasErrors) {
                div.error-alert
                    -   errorMessage.forEach(function(err) {
                        p #{err}
                - })
            - }
            div.form-control
                input(type="email" name="email" placeholder="email")
            div.form-control
                input(type="password" name="password" placeholder="password")
            div.form-control
                input(type="hidden" name="_csrf" value=""+ csrfToken +"")
                button Submit

include ../partials/footer