include ../partials/header

section.index-wrapper
    div.index-overlay
        div.index-display
            div.jumbotron
                h1 YelpCamp
                p Discover Your Next Journey Today
                hr
                button: a(href="/campgrounds") Get Started

include ../partials/footer
