include ../partials/header

section.index-wrapper
    div.index-overlay
        div.index-display
            div.jumbotron
                h1 YelpCamp
                p Discover Your Next Journey Today
                hr
                button: a(href="/campgrounds") Get Started


script(src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous")
script(type="text/javascript" src="/js/functions.js")
